extends html

snippet if "if statement" b
if ($1) {
	${0:${VISUAL}}
}
endsnippet

snippet ife "if - else statement" bA
if ($1) {
	${2:${VISUAL}}
} else {
	${0}
}
endsnippet

snippet func "function" bA
function $1($2)
{
	${0:${VISUAL}}
}
endsnippet

snippet echo "echo" bA
echo ${0:${VISUAL}};
endsnippet

snippet print_r "print_r" bA
print_r(${0:${VISUAL}});
endsnippet

