extends html

snippet if "if statement" bA
if (${1}) {
	${0:${VISUAL}}
}
endsnippet

snippet ife "if - else statement" bA
if (${2}) {
	${1:${VISUAL}}
} else {
	${0}
}
endsnippet

snippet func "function" bA
function $1($2)
{
	${0:${VISUAL}}
}
endsnippet

